
<div class="row">
	<div class="col-xs-3">
		<%= link_to '<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>'.html_safe + ' Back', sparql_queries_path %>
	</div>
	<div class="col-xs-6 well text-center">
		<h1>New Sparql Query</h1>
	</div>
	<div class="col-xs-3"></div>
</div>

<%= render 'form' %>
