<div class="container">
	<div class="well text-center">
		<h1>New sparql_query</h1>
	</div>

	<%= link_to '<h1><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></h1>'.html_safe, sparql_queries_path %>

	<%= render 'form' %>
</div>