<div class="text-center">

  <p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col-xs-3">
      <%= link_to '<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>'.html_safe + 
      "View Sparql Queries", sparql_queries_path%> 
    </div>
    <div class="col-xs-6">
      <h3>Sparql Query Visualizer</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <select class="featureTypes1"></select>

      <select class="featureRelationships1"></select>

      <div class="input-group">
        <input type="text" class="form-control" id="searchBar1" placeholder="Search">

        <span class="input-group-btn">
          <button class="btn btn-default featureSearch1">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>

      <select class="featureResults1"></select>
      
      <!-- Display feature's attributes -->
      <div> 
        <!-- Button trigger modal -->
        <button type="button" class="displayAttributesBtn1 btn btn-primary" data-toggle="modal" data-target="#myModal">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title attributeModalTitle1" id="myModalLabel"></h4>
              </div>
              <div class="modal-body">
                <table class="table table-condensed featureAttributesList1">
                  <tr>
                    <th class="text-center">URI</th>
                    <th></th>
                  </tr>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <select class="featureTypes2"></select>

      <select class="featureRelationships2"></select>

      <div class="input-group">
        <input type="text" class="form-control" id="searchBar2" placeholder="Search">

        <span class="input-group-btn">
          <button class="btn btn-default featureSearch2">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>

      <select class="featureResults2"></select>

      <!-- Display feature's attributes -->
      <div> 
        <!-- Button trigger modal -->
        <button type="button" class="displayAttributesBtn2 btn btn-primary" data-toggle="modal" data-target="#myModal">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title attributeModalTitle2" id="myModalLabel">Modal title</h4>
              </div>
              <div class="modal-body">
                <table class="table table-condensed featureAttributesList2">
                  <tr>
                    <th class="text-center">URI</th>
                    <th></th>
                  </tr>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='bigmap' id='map' style="border:.5em solid black"></div>

  <%= javascript_tag do %> 

  // hide dropdown/select menus until data is queried
  $('.featureRelationships1').hide();
  $('#searchBar1').hide();
  $('.featureSearch1').hide();
  $('.featureResults1').hide();
  $('.displayAttributesBtn1').hide();

  $('.featureTypes2').hide();
  $('.featureRelationships2').hide();
  $('#searchBar2').hide();
  $('.featureSearch2').hide();
  $('.featureResults2').hide();
  $('.displayAttributesBtn2').hide();

  // get the types of all of the features in the dataset
  getFeatureTypes('.featureTypes1');

  var selectedFeatureType1 = "";

  // when a feature type is selected, get all of the relationships related
  // to that feature type
  $(".featureTypes1").change(function () {
    selectedFeatureType1 = $('.featureTypes1').children(':selected').text();
    getFeatureRelationships('.featureRelationships1', selectedFeatureType1);
    $('.featureRelationships1').show();
    $('#searchBar1').show();
    $('.featureSearch1').show();
  });

  // when the search button is clicked,
  // use all of the user specified information to find all of the feature URIs
  // and lables in the dataset matching the user's specifications
  $('.featureSearch1').click(function(){
    var selectedFeatureRel = $('.featureRelationships1').children(':selected').text();
    var searchTerm = $('#searchBar1').val();
    getFeatureAndLabel('.featureResults1', selectedFeatureType1, selectedFeatureRel, searchTerm);
    $('.featureResults1').show();
    $('.displayAttributesBtn1').show();
  });

  // find one feature's wkt data and create a map layer
  $(".featureResults1").change(function () {
    var selectedFeature = $('.featureResults1').children(':selected').attr('featureID');
    var attributeTableTarget = '.featureAttributesList1';
    var attributeModalTitle = '.attributeModalTitle1';
    getFeatureAttributes(selectedFeature, attributeTableTarget, attributeModalTitle);
    
    // beginning feature 2 //////////////////////////////
    // do all of the same stuff for the second feature

    $('.featureTypes2').show();
    getFeatureTypes('.featureTypes2');
  });

  var selectedFeatureType2 = "";

  $(".featureTypes2").change(function () {
    selectedFeatureType2 = $('.featureTypes2').children(':selected').text();
    getFeatureRelationships('.featureRelationships2', selectedFeatureType2);
    $('.featureRelationships2').show();
    $('#searchBar2').show();
    $('.featureSearch2').show();
  });

  $('.featureSearch2').click(function(){
    var selectedFeatureRel = $('.featureRelationships2').children(':selected').text();
    var searchTerm = $('#searchBar2').val();
    getFeatureAndLabel('.featureResults2', selectedFeatureType2, selectedFeatureRel, searchTerm);
    $('.featureResults2').show();
    $('.displayAttributesBtn2').show();
  });

  $(".featureResults2").change(function () {
    var selectedFeature = $('.featureResults2').children(':selected').attr('featureID');
    var attributeTableTarget = '.featureAttributesList2';
    var attributeModalTitle = '.attributeModalTitle2';
    getFeatureAttributes(selectedFeature, attributeTableTarget, attributeModalTitle);
  });

  <% end %>

  <style>
    select{
      width:100%;
      
      -ms-box-sizing:content-box;
      -moz-box-sizing:content-box;
      box-sizing:content-box;
      -webkit-box-sizing:content-box; 
    }
  </style>
</div>